In [1]:
#Sequential datatypes :- Sequential datatypes are the Datatypes where elemnets are stored in a sequence.
#we can store multiple values with multiple datatypes.
#Elements are stored in a fixed order
#List :ordered , mutable(changable), allow dupliactes
#tuple :ordered, immutable (we cant change)

In [2]:
#list
#we can create list using []

In [3]:
a=[10,20,30,"Student","India",89.8]
print(type(a))
print(a[4])
print(a[5])

print(a[-3])
print(a[-1])
print(a[5])

<class 'list'>
India
89.8
Student
89.8
89.8

In [4]:
#Slicing---> when u want to extract any specific part from whole we will be using slicing.
#Syntax -->variablename[startindex :endindex+1]

#syntax with step ---->variablename[startindex : endindex+1 :stepcount+1]

In [5]:
lst = [10,20,30,40,50,60,70]

#if i want from 20 - 50
print(lst[1:5])

#10-40
print(lst[0:4])

#30-50
print(lst[2:5])

#20-60
print(lst[1:6])

[20, 30, 40, 50]
[10, 20, 30, 40]
[30, 40, 50]
[20, 30, 40, 50, 60]

In [6]:
a= [10 , 20 , "Tarun" , "sony" , "Nishkarsh" , 50 , 80.4]

#output --->20,sony,50
#20-50
print(a[1:6:2])

# i want output as 10 and tarun
print(a[0:3:2])

[20, 'sony', 50]
[10, 'Tarun']

In [7]:
b = ["Tarun" , "Sony" , "Nishkarsh" , "Dipansh" , "Raghavendra" , "Dilya"]

#from tarun to raghavendra
#i want only tarun,nishkarsh,raghavendra

print(b[0:5:2])

['Tarun', 'Nishkarsh', 'Raghavendra']

In [8]:
#Methods in the list

#append() ---> will add the elemenet to the end of the list
b.append("Karthik")
print(b)

['Tarun', 'Sony', 'Nishkarsh', 'Dipansh', 'Raghavendra', 'Dilya', 'Karthik']

In [9]:
#insert() --> will add the elment in the specific position
b.insert(2,"Saran")
print(b)

['Tarun', 'Sony', 'Saran', 'Nishkarsh', 'Dipansh', 'Raghavendra', 'Dilya', 'Karthik']

In [10]:
b.insert(0,"Kapil")
print(b)

['Kapil', 'Tarun', 'Sony', 'Saran', 'Nishkarsh', 'Dipansh', 'Raghavendra', 'Dilya', 'Karthik']

In [11]:
b[4] = "Varun"
print(b)

['Kapil', 'Tarun', 'Sony', 'Saran', 'Varun', 'Dipansh', 'Raghavendra', 'Dilya', 'Karthik']

In [12]:
#pop() --->will remove the elements.(by default it will remove the last element)
b.pop()
print(b)

['Kapil', 'Tarun', 'Sony', 'Saran', 'Varun', 'Dipansh', 'Raghavendra', 'Dilya']

In [13]:
#pop(index number)
b.pop(0)
print(b)

['Tarun', 'Sony', 'Saran', 'Varun', 'Dipansh', 'Raghavendra', 'Dilya']

In [14]:
#Tuple -->ordered
#Immutable , allow duplicates
#Will be declared using ()

In [15]:
tup = (20 , "Tarun" , "Sony" , "Nishkarsh" , "Karthik" , 89.0 , "Tarun")
print(type(tup))

<class 'tuple'>

In [16]:
tup[2]=100

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Tuple methods

tup = (20 , "Tarun" , "Sony" , "Nishkarsh" , "Karthik" , 89.0 , "Tarun")
print(tup)

#count() ----> used to count the number of occurences of the element
print(tup.count("Tarun"))

#index() ---> it will be giving the index nuber of the element
print(tup.index(89.0))

(20, 'Tarun', 'Sony', 'Nishkarsh', 'Karthik', 89.0, 'Tarun')
2
5