In [2]:
#What are programming languagues?
#-->A medium to communicate with machines.
#--->programming languagues are set of instructions that we use to communicate with computers.


#Python
#-->it is a programming languague.
#-->It is a high level languague(easy to understand and similar to english).
#-->It is an interpreted languague.(line by line)
#-->It is case sensitive(This means that uppercase and lowercase letters treated diffrenetly)
a=10
A=20
print(a)
print(A)

10
20

In [3]:
# comments--->
#1.single line comment ---> #
#2.Multiline comments----> """  """

In [5]:
#Hey i am user  (this is single line)

""" hey i am a student and
i am learning python"""

print("Hello world")

Hello world

In [6]:
# What are variables?
# Variables are like containers that store values.

a=10
b=20

In [7]:
# Rules for declaring the variable!

# 1.It must start with letters(lowercase or uppercase) or underscore(_).
# 2.Can't start with the digits(0 to 9) or any other spl symbols other than undersore(_)
# 3.variables are case sensitive.
# 4.It should not contain any spaces in between.
# 5.We cannot use any keywords as variables(if,else,while etc..)

In [8]:
abc = 'hi'
print(abc)

hi

In [9]:
_abc = 10
print(_abc)

10

In [10]:
8abg = 10
print(8abg)

SyntaxError: invalid decimal literal (964691629.py, line 1)

In [11]:
abc12= 10
print(abc12)

10

In [12]:
#Data types
#Integer(int) ---> A numeric value it  can be postive or negative but without decimal point

In [13]:
age =30
#type() -- it will tell about the datatype of variable holding
print(type(age))

x = -70
print(type(x))

<class 'int'>
<class 'int'>

In [14]:
#Float(float) -->numeric value with decimal ppoint(10.5,1.8)

x=10.8
print(type(x))

z=-3.4
print(type(z))

<class 'float'>
<class 'float'>

In [15]:
#string(str) --->letters, words, sentences ---anything which is Enclosed in the " " or ' ' then it is String.

In [16]:
name = "Student"
print(type(name))

a=123
print(type(a))

b="123"
print(type(b))

h="@#$%&*"
print(type(h))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'str'>

In [17]:
#Boolean (bool)---> These are like yes or no answers.
#it will  have only two things (True or False).

In [18]:
is_raining = True
print(type(is_raining))

<class 'bool'>

In [19]:
is_raining=False
print(type(is_raining))

<class 'bool'>

In [20]:
#Operators ---> Operators are the symbols that perform operations on values

a=10
b=5
print(a+b)
#operators  --->+
#operands ---->a,b

#Arthmetic operators

#Addition   --->+
#subtraction --->-
#Multiplication---> *
#division  ---> /   (division operator will always going to give the float value as the output)
#floor division ---> //  (floor division will always going to give int value as the output)
#modulous ---->(Reminder) %
#exponentional --> **

15

In [21]:
a=10
b=5

print(a+b)
print(a-b)
print(a*b)   #10 x 5 =50
print(a/b)
print(a//b)
print(a%b)
print(a**b)

15
5
50
2.0
2
0
100000

In [22]:
#comparision operator--->it going to give the output in boolean(True or False)
#We r going to comapre two values.

num1=10
num2=20

print(num1>num2)
print(num1<num2)
print(num1==num2)  #== will check for bothsides are equal or not if equal it will giving true
print(num1!=num2)  #!= will check for diff values on bothsides if diff it will give true.
print(num1>=num2)  #
print(num1<=num2)

False
True
False
True
False
True

In [23]:
#Assignment operator
a=10

# a=a+5
# print(a)

#shortform of a=a+5
a+=5
print(a)

15

In [25]:
#Logical operators

#Helps to make desicions

#and,or,not

# and ---> When both conditions are satisfied then the output will be true , else false.
# or ---> when atleast one codition is satisfied then the output will be true , else false.
#not --> Reversing

In [26]:
#and
print(5>3 and 6>4)
print(5>3 and 5==50)
print(5<3 and 5==50)

True
False
False

In [27]:
#or
print(5>3 or 5==50)
print(5>10 or 5==67)

True
False

In [28]:
#not
a=True
print(not(a))

b=False
print(not(b))

False
True

In [29]:
#Sequential datatypes :- Sequential datatypes are the Datatypes where elemnets are stored in a sequence.
#we can store multiple values with multiple datatypes.
#Elements are stored ina fixed order
#List :ordered , mutable(changable), allow dupliactes
#tuple :ordered, immutable (we cant change)

In [30]:
#list
#we can create list using []

In [31]:
a=[10,20,30,"Student","India",89.8]
print(type(a))
print(a[4])
print(a[5])

print(a[-3])
print(a[-1])
print(a[5])

<class 'list'>
India
89.8
Student
89.8
89.8

In [32]:
#Slicing---> when u want to extract any specific part from whole we will be using slicing.
#Syntax -->variablename[startindex :endindex+1]

#syntax with step ---->variablename[startindex : endindex+1 :stepcount+1]

In [34]:
lst = [10,20,30,40,50,60,70]

#if i want from 20 - 50
print(lst[1:5])

#10-40
print(lst[0:4])

#30-50
print(lst[2:5])

#20-60
print(lst[1:6])

[20, 30, 40, 50]
[10, 20, 30, 40]
[30, 40, 50]
[20, 30, 40, 50, 60]

In [35]:
a= [10 , 20 , "Tarun" , "sony" , "Nishkarsh" , 50 , 80.4]

#output --->20,sony,50
#20-50
print(a[1:6:2])

# i want output as 10 and tarun
print(a[0:3:2])

[20, 'sony', 50]
[10, 'Tarun']

In [36]:
b = ["Tarun" , "Sony" , "Nishkarsh" , "Dipansh" , "Raghavendra" , "Dilya"]

#from tarun to raghavendra
#i want only tarun,nishkarsh,raghavendra

print(b[0:5:2])

['Tarun', 'Nishkarsh', 'Raghavendra']

In [37]:
#Methods in the list

#append() ---> will add the elemenet to the end of the list
b.append("Karthik")
print(b)

['Tarun', 'Sony', 'Nishkarsh', 'Dipansh', 'Raghavendra', 'Dilya', 'Karthik']

In [38]:
#insert() --> will add the elment in the specific position
b.insert(2,"Saran")
print(b)

['Tarun', 'Sony', 'Saran', 'Nishkarsh', 'Dipansh', 'Raghavendra', 'Dilya', 'Karthik']

In [39]:
b.insert(0,"Kapil")
print(b)

['Kapil', 'Tarun', 'Sony', 'Saran', 'Nishkarsh', 'Dipansh', 'Raghavendra', 'Dilya', 'Karthik']

In [40]:
b[4] = "Varun"
print(b)

['Kapil', 'Tarun', 'Sony', 'Saran', 'Varun', 'Dipansh', 'Raghavendra', 'Dilya', 'Karthik']

In [41]:
#pop() --->will remove the elements.(by default it will remove the last element)
b.pop()
print(b)

['Kapil', 'Tarun', 'Sony', 'Saran', 'Varun', 'Dipansh', 'Raghavendra', 'Dilya']

In [42]:
#pop(index number)
b.pop(0)
print(b)

['Tarun', 'Sony', 'Saran', 'Varun', 'Dipansh', 'Raghavendra', 'Dilya']

In [43]:
#Tuple -->ordered
#Immutable , allow duplicates
#Will be declared using ()

In [44]:
tup = (20 , "Tarun" , "Sony" , "Nishkarsh" , "Karthik" , 89.0 , "Tarun")
print(type(tup))

<class 'tuple'>

In [45]:
tup[2]=100

TypeError: 'tuple' object does not support item assignment

In [46]:
#Tuple methods

tup = (20 , "Tarun" , "Sony" , "Nishkarsh" , "Karthik" , 89.0 , "Tarun")
print(tup)

#count() ----> used to count the number of occurences of the element
print(tup.count("Tarun"))

#index() ---> it will be giving the index nuber of the element
print(tup.index(89.0))

(20, 'Tarun', 'Sony', 'Nishkarsh', 'Karthik', 89.0, 'Tarun')
2
5

In [47]:
#Non- Sequnential Datatypes ---->These are the Datatyppes where the elements do not have any specific index numbers .
# and we cannot extract the elements by using index numbers.

In [48]:
#Set
#we going to create set using {}
#unoredred
#set is mutable
#you can only add and delete elemnets
#it will not allow any duplicates.

In [49]:
s={10,20,30,10,20}
print(s)
print(type(s))

{10, 20, 30}
<class 'set'>

In [50]:
print(s[1])

TypeError: 'set' object is not subscriptable

In [51]:
#Methods in set
#add() --->it will add the element in the set

s.add("Tarun")
print(s)

{'Tarun', 10, 20, 30}

In [52]:
s.add("Bob")
print(s)

{'Bob', 10, 20, 'Tarun', 30}

In [53]:
#Remove() --->we can remove by using elemnet
s.remove("Tarun")
print(s)

{'Bob', 10, 20, 30}

In [54]:
#pop() -->it will remove the random element
s.pop()
print(s)

{10, 20, 30}